.card {
    position:relative;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    text-decoration: none;
    margin:5px;
    color:black;
    width:100px;
    height:100px;
    border-radius:50px;
    background-color:#ddd;
    
    transition: width 300ms, height 300ms, border-radius 300ms, background-color 300ms;
}
.small {

    width:70px;
    height:70px;
    border-radius:35px;
}

.card:hover {
    width:110px;
    height:110px;
    border-radius:55px;
    background-color:#bbb;
    transition: width 300ms, height 300ms, border-radius 300ms, background-color 300ms;
}
/* 
.orbital{
    position:absolute;
    top:0;
    left:0;
}

@media (prefers-reduced-motion: no-preference) {
    .orbital {
      animation: card-orbit infinite 20s linear;
    }
  }
  
@keyframes card-orbit {
    0% {
        top: 100px;
        left: 250px;
    }
    5% {
        top: 110px;
        left: 230px;
    }
    45% {
        top:300px;
        left:690px;
    }
    50% {
        top:280px;
        left:700px;
    }
    100% {
        top: 100px;
        left: 250px;
    }
} */